<html>
<head>
    <meta charset="UTF-8" />
    <h1>LOL Character Add Form</h1>

    <style> #btnUpdate{ border-top-left-radius: 5px; border-bottom-left-radius: 5px; margin-right:-4px; } #btnCancle{ border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-left:-3px; } #btnGroup input{ border: 1px solid rgb(0, 85, 119); background-color: rgba(0,0,0,0); color: rgb(0, 85, 119); padding: 5px; } #btnGroup input:hover{ color:white; background-color: rgb(0, 85, 119); } </style>
</head>
<body>
    <br>
    <form name="input" method="POST" action="../LOLCharacterUpdate/<%= data.id %>" enctype="multipart/form-data">
        이름 : 
        <input type="text" name="name" value="<%= data.name %>" > <br>
        특징 : 
        <input type="text" name="characteristic" value="<%= data.characteristic %>" > <br>
        설명 : 
        <input type="textarea" name="explanation" style="width:300px;height:200px;font-size:12px;word-wrap:break-word;" value="<%= data.explanation %>" > <br>
        마지막 출시 스킨 : 
        <input type="text" name="latelySkin" value="<%= data.latelySkin %>" > <br>
        이미지 :
        <input type="file" name="thumbnail" value="<%= image.image %>"> <br>

        <div id="btnGroup">
            <input type="submit" id="btnUpdate" value="수정">
            <input type="button" id="btnCancle" value="취소" onclick="location.href='http://3.34.187.169:3000/LOLCharacter/<%= data.id %>'">
        </div>
    </form>
</body>
</html>