<html>
<head>
    <meta charset="UTF-8" />
    <h1>LOL Character Add Form</h1>
</head>
<body>
    <br>
    <form name="input" method="POST" action="../LOLCharacterUpdate/<%= data.characterId %>" enctype="multipart/form-data">
        이름 : 
        <input type="text" name="name" value="<%= data.name %>" > <br>
        특징 : 
        <input type="text" name="characteristic" value="<%= data.characteristic %>" > <br>
        설명 : 
        <input type="textarea" name="explanation" style="width:300px;height:200px;font-size:12px;word-wrap:break-word;" value="<%= data.explanation %>" > <br>
        마지막 출시 스킨 : 
        <input type="text" name="latelySkin" value="<%= data.latelySkin %>" > <br>
        
        <input type="submit" value="수정">
        <input type="button" value="취소" onclick="location.href='http://localhost:3000/LOLCharacter/<%= data.characterId %>'">
    </form>
</body>
</html>